In [34]:
import pandas as pd
import urllib
import csv

In [25]:
url_data = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
url_names = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names'
url_test = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test'
def importa_salva_dados(url,filename,pasta='../src/data/'):
    resposta = requests.get(url)
    urllib.request.urlretrieve(url,filename=pasta+filename)

In [29]:
importa_salva_dados(url_data,'adult_data.csv')
importa_salva_dados(url_names,'adult_names.csv')
importa_salva_dados(url_test,'adult_test.csv')

In [224]:
with open('../src/data/adult_names.csv', 'r') as file: lines = file.read().split('\n')
lines_ = [line.split(': ') for line in lines[-15:]]
headers = [head[0] for head in lines_[:]]

data = pd.read_csv('../src/data/adult_data.csv',header = None, delimiter=(', '))
data.columns = headers
print(lines_)

C:\Users\Cassio\AppData\Local\Temp\ipykernel_27460\910954058.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data = pd.read_csv('../src/data/adult_data.csv',header = None, delimiter=(', '))

[['age', 'continuous.'], ['workclass', 'Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.'], ['fnlwgt', 'continuous.'], ['education', 'Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.'], ['education-num', 'continuous.'], ['marital-status', 'Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.'], ['occupation', 'Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.'], ['relationship', 'Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.'], ['race', 'White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.'], ['sex', 'Female, Male.'], ['capital-gain', 'continuous.'], ['capital-loss', 'continuous.'], ['hours-per-week', 'continuous.'], ['native-country', 'United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.'], ['']]

In [225]:
data.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

Quantas pessoas de cada raça estão representadas neste conjunto de dados? Esta deve ser uma série Pandas com nomes de raça como rótulos de índice. ( racecoluna)  
Qual é a idade média dos homens?  
Qual é a porcentagem de pessoas que têm um diploma de bacharel?  
Que porcentagem de pessoas com educação avançada ( Bachelors, Mastersou Doctorate) ganham mais de 50 mil?  
Que porcentagem de pessoas sem educação avançada ganha mais de 50 mil?  
Qual é o número mínimo de horas que uma pessoa trabalha por semana?  
Que porcentagem das pessoas que trabalham o número mínimo de horas por semana tem um salário superior a 50 mil?  
Qual país tem a maior porcentagem de pessoas que ganham mais de 50 mil e qual é essa porcentagem?  
Identifique a ocupação mais popular para quem ganha mais de 50 mil na Índia.

In [227]:
# Quantas pessoas de cada raça estão representadas neste conjunto de dados? 
# Esta deve ser uma série Pandas com nomes de raça como rótulos de índice. ( racecoluna)
group_race = data.groupby('race').count()['']
group_race.index[0]
for i, u in enumerate(group_race):
    print(f'Há {u} pessoas do grupo étnico {group_race.index[i]}')

Há 311 pessoas do grupo étnico Amer-Indian-Eskimo
Há 1039 pessoas do grupo étnico Asian-Pac-Islander
Há 3124 pessoas do grupo étnico Black
Há 271 pessoas do grupo étnico Other
Há 27816 pessoas do grupo étnico White

In [228]:
# Qual é a idade média dos homens?
mean_male_age = data.groupby('sex').mean()['age'][1]
print('A idade média dos homens {:.0f}'.format(mean_male_age),'years.')

A idade média dos homens 39 years.

In [230]:
# Qual é a porcentagem de pessoas que têm um diploma de bacharel?
tot_bach = data[data.education == 'Bachelors'].count()[0]
non_bach = data[data.education != 'Bachelors'].count()[0]
perc_bach = tot_bach/(non_bach+tot_bach)*100
print('A Fração de pessoas que tem um diploma de Bacharel é {:.2f}%'.format(perc_bach) )

A Fração de pessoas que tem um diploma de Bacharel é 16.45%